# Installation dependencies:
matplotlib==3.8.4
tensorflow==2.17.0
Pillow==10.2.0
opencv-python
numpy==1.23.5
streamlit==1.35.0
# Open Anaconda Prompt
# Change directory (cd) to root project folder
# Run command "pip install -r requirements.txt"


# Instructions to run:

# 1. prediction_web_sequential.py
# - Open prediction_web_sequential.py
# - In the code, change the model_path to correct file path of model_sequential.h5 in root project folder
# - Open Anaconda Prompt
# - Change directory (cd) to root project folder
# - Run command "streamlit run prediction_web_sequential.py"
# - Click "Browse files" to upload an image
# - Model prediction of uploaded image will appear with confidence levels of each class

# 2. prediction_camera_sequential.py
# - Open prediction_camera_sequential.py
# - In the code, change the model_path to correct file path of model_sequential.h5 in root project folder
# - Open Anaconda Prompt
# - Change directory (cd) to root project folder
# - Run command "streamlit run prediction_camera_sequential.py"
# - Popup window will appear with laptop camera showing
# - Camera shows model prediction in upper left of the window
# - Hover apple and uni sushi in front of camera to see model's prediction

# 3. prediction_web_functional.py
# - Open prediction_web_functional.py
# - In the code, change the MODEL_PATH to correct file path of model_functional.h5 in root project folder
# - Open Anaconda Prompt
# - Change directory (cd) to root project folder
# - Run command "streamlit run prediction_web_functional.py"
# - Click "Browse files" to upload an image
# - Model prediction of uploaded image will appear with confidence levels of each class
# - Scroll down to see three heatmaps generated by GradCAM for each of the three classes